<div class="header">
  <mat-icon class="icon">import_contacts</mat-icon>
  <h1>Address Book</h1>
</div>

<div id="contacts" *ngIf="!error">
  <div *ngIf="contacts.length > 0; then showContacts; else noContacts"></div>
  <ng-template #showContacts>
    <h2>Contacts</h2>
    <mat-card *ngFor="let contact of contacts">
      <mat-card-content>
        <div class="contact-head">
          <mat-icon>account_circle</mat-icon>
          <span class="contact-name">{{
            contact.firstName + " " + contact.lastName
          }}</span>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editContact(contact)">Edit</button>
            <button mat-menu-item (click)="deleteContact(contact.id)">
              Delete
            </button>
          </mat-menu>
        </div>
        <mat-divider></mat-divider>
        <div class="contact-info">
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <mat-icon>call</mat-icon>
            <span class="contact-data">{{ contact.phone }}</span>
          </div>
          <div
            style="
              display: flex;
              align-items: center;
              margin-top: 10px;
              justify-content: center;
            "
          >
            <mat-icon>location_on</mat-icon>
            <span class="contact-data">{{ contact.address }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
  <ng-template #noContacts>
    <div style="width: 100%; display: flex; justify-content: center">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </ng-template>
</div>

<div
  *ngIf="error"
  style="width: 100%; display: flex; justify-content: center; color: red"
>
  <h3>{{ error }}</h3>
</div>

<button mat-fab id="fixed-btn" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
