@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: ghostwhite;
  padding: 30px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#fixed-btn {
  position: fixed;
  bottom: 30px;
  right: 40px;
}

.red-snackbar {
  background: #B33A3A;
  color: white;
}

.green-snackbar {
  background: #4BB543;
  color: white;
}
